@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;
    --fonte-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);  
}

h2{
    font-family: var(--font-secundaria);
    font-weight: bold;
}

/**** cabecalho ****/
.cabecalho {
    padding: 2% 0% 0% 15%;  
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

/**** apresentacao ****/
.apresentacao{
    padding: 5% 15%;
   
}

.apresentacao__conteudo{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
    flex-direction: row;
}

.apresentacao__conteudo__info{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    margin-bottom: 3rem;
}

.apresentacao__titulo span{
    color: var(--cor-terciaria);
    border: 1px solid var(--cor-terciaria);
    padding: 5px;
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
    text-align: justify;
    text-justify: inter-word;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 22px;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
}

.apresentacao__links__navegacao {       
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 24px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}

/**** galeria imagens ****/

.galeria {
    width: 50%;
}

#galeria__principal {
    width: 100%;
    margin-bottom: 1rem;
}

.galeria__imagens li {
    list-style: none;
    width: 30%;

}
.galeria__imagens li img {
    width: 100% ;

}

.galeria__imagens {
    display: flex;
    max-width: 100%;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-around;
}

/**** rodape ****/
.rodape{
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

/**** common ****/
.titulo-destaque{
    color: var(--cor-terciaria);
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}

@media screen and (max-width:768px){
    .apresentacao__conteudo{
        flex-direction: column-reverse;
    }
    
    .apresentacao__imagem{
        width: 100%;
    }

    .apresentacao__conteudo__info{
        width: 100%;
    }
}

@media screen and (max-width:1024px){
    .apresentacao {
        padding: 5%;
    }
}